.App{
  background-color: black;
  position: relative;
  height: 100vh;
}

.gold{
  position: absolute;
  top: 0;
  right: 0;
  width: 400px
}

.body_container{
  position: relative;
  display: flex;
  align-items:flex-start;
  vertical-align: bottom;
  border: 1px green solid;
}

.asian_typo{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: auto;
}

.numeric_container{
  position: absolute;
  right: 0;
  top: 260px;
  display: block;
  padding: 2em;
  color: white;
  text-transform: uppercase;
  flex-wrap: nowrap;
}

.numeric_container p{
  padding: 0.3em;
}

.numeric_info_grid{
  display: grid;
  padding-top: 1em;
  grid-template-columns: 5em 10em;
}

.numeric_container .numeric_info_grid div p:not(:nth-child(2)){
  font-size: x-small;
}

.numeric_container p:nth-child(2){
  font-size: x-large;
  font-weight: bold;
}

.category{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: rotate(-90deg);
  color: rgba(128, 128, 128, 0.542);
  font-size: small;
}

.moto{
  width: 75%;
  z-index: 2;
}

.wheel{
  width: 10%;
  height: auto;
  padding-left: 3em;
  background-color: black;
  border: 1px blue solid
}

.info{
  width: 75%;
  height: auto;
}

.brake{
  justify-self: end;
  width: 15%;
  border: 1px blue solid
}

.moto_container{
  display: inline-block;
  position: relative;
  width: 55%;
  height: auto;
  background-color: black;
  border: 1px red solid;
}

h1{
  text-transform: uppercase;
  font-size: 15px;
  color:white;
  position: absolute;
  top: 70px;
  right: 70px;
  border-radius: 50%;
  z-index: 3;
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.char {
  --char-total: 20;
  --i: calc(100% / (var(--char-total) + 1));
  position: absolute;
  offset-path: path("M1,0 A1,1 0 1,1 1,2 A1,1 0 1,1 1,0");
  offset-distance: calc(var(--i) * var(--char-index));
  padding-bottom: 6em;
}

@keyframes rotation{
  100%{
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 900px){

  .moto_container, .bottom_container, .asian_typo{
    width: 100%;
  }

  .wheel, .brake{
    align-self: flex-start;
  }

  .wheel{
    padding-top: 4em;
  }

  .gold, .numeric_container{
      display: none;
  }
}