*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    white-space: nowrap;
    position: relative;
    width: calc(100% - 400px);
}

ul{
    list-style-type: none;
}

.ulStyle{
    position: absolute;
    top: 0;
}

.faBars{
    display: inline-block;
    color: white;
    padding-inline: 1em;
    padding: 2em;
    vertical-align: middle;
    cursor: pointer;
}

.faXMark{
    height: 12vh;
    text-align: center;
    position: relative;
    z-index: 1000;
    color: white;
    background-color: black;
    padding: 2em;
    cursor: pointer;
}

.ul:last-child{
    border: 10px solid red;
}

li:link{
    color:white
}

a{
    text-decoration: none;
}

a:visited{
    color:white;
}

li:hover:not(:first-child){
    border-bottom: 5px solid white;
    padding-bottom: 0.5em;
    transition: ease;
    transition-duration: 0.5s;
}

li:first-child{
    padding: 1.5em;
    margin-right: 5em;
}

li:last-child{
    display: none;
}

@media screen and (max-width: 900px){
    nav{
        width: 100%;
    }
}

@media screen and (max-width: 1450px){
    .faBars:not(:first-child){
        display: none;
    }
    .faBars:last-child{
        display: inline;
        position: absolute;
        right: 0px;
    }
    .faXMark:last-child{
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
    }
    li:hover:last-child{
        border-bottom: none;
    }
}